[Unit]
Description=Grid XMR Mining
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root

# Optional but recommended for mining stability/perf
LimitNOFILE=1048576
Nice=-5

ExecStart=/usr/bin/xmrig \
  --url=tokyo:3333 \
  --user=%H \
  --pass=%H \
  --algo=rx/monero \
  --cpu-priority=5 \
  --randomx-1gb-pages \
  --huge-pages \
  --verbose=0

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

