[Unit]
Description=Grid XMR Mining
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/xmrig \
  --url=tokyo:3333 \
  --user=%H \
  --pass=%H \
  --algo=rx/monero \
  --cpu-priority=5 \

  --verbose=0
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
