[Unit]
Description=Grid Node XMR Mining
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root

# Optional but recommended for mining stability/perf
LimitNOFILE=1048576
Nice=-5

ExecStart=/usr/bin/grid-node

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
